/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  text-align: center;
  margin: 0;
}

header select {
  padding: 5px;
  font-size: 16px;
}

main {
  padding: 20px;
}
.navigation {
  display: flex;
  border-radius: 20px;
  justify-content: center;
  background-color: #333;
  padding: 10px 0;
}
.navigation a {
  color: white;
  padding: 14px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.3s;
}
.navigation a:hover {
  background-color: #575757;
  transform: scale(1.1);
}
  
  .page-title {
    color: black;
    font-size: 24px;
    margin-left: 20px;
    white-space: nowrap;
  }
  .info-section {
    padding: 20px;
    text-align: left;
  }
  
  .info-section h2 {
    color: #007bff;
  }
  
  footer {
    background-color: #f4f4f4;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }